/node_modules
/vendor
.git
.env
.env.backup
.phpunit.result.cache
composer.lock
package-lock.json
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
